@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont,'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #f1f1f1 !important;
  }
  
  
  html, #root{
      margin: 0;
      padding: 0;
      background: #f1f1f1;
      border: 0;
      font-size: 100%;
      vertical-align: baseline;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}